@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.4rem;
    }

    .dark {
      --gradient: #00874e;

      --background: 164 65% 2.16%;
      --foreground: 164 10% 96.35%;

      --muted: 164 50% 8.100000000000001%;
      --muted-foreground: 164 10% 52.7%;

      --popover: 164 45% 3.5100000000000002%;
      --popover-foreground: 164 10% 96.35%;

      --card: 164 45% 3.5100000000000002%;
      --card-foreground: 164 10% 96.35%;

      --border: 164 50% 8.100000000000001%;
      --input: 164 50% 8.100000000000001%;

      --primary: 164 100% 27%;
      --primary-foreground: 164 10% 96.35%;

      --secondary: 164 50% 8.100000000000001%;
      --secondary-foreground: 164 10% 96.35%;

      --accent: 164 50% 8.100000000000001%;
      --accent-foreground: 164 10% 96.35%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 164 10% 96.35%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }